---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import LinkCard from "../components/LinkCard.astro";
import { MY_NAME, SITE_DESCRIPTION } from "../consts";
---

<Layout title={MY_NAME} description={SITE_DESCRIPTION}>
	<main>
		<Header />
		<div class="introduction">
			<div class="avatar">
				<img src="images/mzakizadeh-2022-12-08.jpg" />
			</div>
			<h1><a href="/">{MY_NAME}</a></h1>
			<p class="introduction">
				I'm an NLP enthusiast with two years of research experience in
				the field, and a passionate gamer with a love for 4X games. Feel
				free to reach out at
				<a href="mailto:mzakizadeh.me@gmail.com">
					mzakizadeh.me@gmail.com</a
				>.
			</p>
		</div>
		<div class="diary">
			<ul>
				<li>
					<span class="date">Nov 2024</span>
					<span class="entry">
						Excited to share that my paper on adversarial training
						in NLP got accepted to EMNLP 2024.
					</span>
				</li>
				<li>
					<span class="date">Jan 2025</span>
					<span class="entry">
						I recently joined the <strong
							>Stony Brook University</strong
						> for my PhD journey, EXCITED!
					</span>
				</li>
				<li>
					<span class="date">Oct 2024</span>
					<span class="entry">
						I’ll be presenting my research on low-resource language
						models at NAACL 2025. Looking forward to it!
					</span>
				</li>
			</ul>
			<a href="/archive/diary">
				<span>&rarr;</span>
				Diary Archive
			</a>
		</div>
		<ul role="list" class="link-card-grid">
			<LinkCard
				href="https://docs.astro.build/"
				title="DiFair Metric"
				body="A nuanced benchmark for assessing gender bias and knowledge in PLMs."
			/>
			<LinkCard
				href="https://astro.build/integrations/"
				title="TweetFa Dataset"
				body="Large scale twitter corpus containing +20M high quality persian tweets."
			/>
		</ul>
	</main>
</Layout>

<style>
	h1 {
		display: block;
		text-align: center;
		margin: 0;
		font-size: 3rem;
		color: white;
		font-weight: 500;
	}
	h1 a,
	h1 a.active {
		color: white;
		text-decoration: none;
	}
	.avatar img {
		margin: 1rem 0 1.2rem;
		width: 8rem;
		height: 8rem;
		display: block;
		background-color: white;
		border-radius: 100%;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.introduction {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.introduction p {
		display: block;
		text-align: justify;
		margin-bottom: 1rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(
			rgba(var(--accent-dark), 66%),
			rgba(var(--accent-dark), 33%)
		);
		padding: 1.5rem;
		border-radius: 8px;
	}
	.introduction code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.introduction strong {
		color: rgb(var(--accent-light));
	}
	.diary {
		margin-bottom: 3rem;
	}
	.diary ul {
		margin-bottom: 0;
		padding-bottom: 0;
		text-align: justify;
		list-style: none;
		margin-left: 0;
		padding: 0;
	}
	.diary ul li {
		font-size: 1rem;
		display: flex;
		flex-direction: rows;
		align-items: center;
		padding-bottom: 0.5rem;
	}
	.diary ul li .date {
		min-width: 7rem;
		font-size: 1rem;
	}
	.diary a {
		padding-left: 7rem;
		font-size: 1rem;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
