---

---

<footer>
    <hr />
    <span> &copy; 2024 Mahdi Zakizadeh. All Rights Reserved. </span>
    <span>
        Built with <a href="http://astro.build">Astro</a>
    </span>
</footer>

<style>
    footer {
        font-size: 0.75rem;
        margin: 0 0 3rem;
        padding: 0 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #e9e9e9;
        letter-spacing: 1px;
    }
    footer hr {
        border-color: rgba(255, 255, 255, 0.3);
        width: 780px;
        height: 1px;
        margin: 2rem 0 2rem;
    }

    @media (max-width: 780px) {
        footer hr {
            width: 100%;
            margin: 2rem 1rem;
        }
    }
</style>
