---
import HeaderLink from "./HeaderLink.astro";
import { MY_NAME, NAV_LINKS } from "../consts";
---

<header>
    <nav>
        {
            NAV_LINKS.map((link, i) => (
                <HeaderLink href={link.to} isLast={i + 1 == NAV_LINKS.length}>
                    {link.name}
                </HeaderLink>
            ))
        }
    </nav>
    <div class="avatar">
        <img src="avatar.jpg" />
    </div>
    <h1><a href="/">{MY_NAME}</a></h1>
</header>
<style>
    header {
        margin: 0;
        padding: 0 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        display: block;
        text-align: center;
        margin: 0;
        font-size: 3rem;
        color: white;
        font-weight: 500;
    }

    .avatar img {
        margin: 3rem 0 1.2rem;
        width: 8rem;
        height: 8rem;
        display: block;
        background-color: white;
        border-radius: 100%;
    }

    h1 a,
    h1 a.active {
        color: white;
        text-decoration: none;
    }
    nav {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    nav a {
        padding: 0 0.85rem;
        font-size: 1rem;
        display: inline-block;
        text-decoration: underline;
        color: var(--accent);
        text-transform: uppercase;
    }
    nav a.active {
        font-weight: bolder;
        text-decoration: underline;
    }
    .social-links,
    .social-links a {
        display: flex;
    }
    @media (max-width: 720px) {
        .social-links {
            display: none;
        }
    }
</style>
